/* کنترل‌های داخل صفحه بازی */

#controls {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 15px;

    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 18px;

    pointer-events: none;
}

/* چپ و راست کنار هم */

#movementControls {
    display: flex;
    gap: 8px;
    pointer-events: auto;
}

/* تیر و پرش */

#actionControls {
    display: flex;
    gap: 8px;
    pointer-events: auto;
}

.gameButton {
    width: 65px;
    height: 65px;

    border: 3px solid rgba(255,255,255,.65);
    border-radius: 20px;

    background: rgba(20,20,30,.72);

    color: white;

    font-size: 27px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow:
        0 5px 0 rgba(0,0,0,.35),
        0 5px 15px rgba(0,0,0,.3);

    touch-action: none;
}

.gameButton:active {
    transform: translateY(4px) scale(.94);

    box-shadow:
        0 1px 0 rgba(0,0,0,.35);
}

/* دکمه تیر */

#shoot {
    background: rgba(220,120,20,.82);
}

/* دکمه پرش */

#jump {
    background: rgba(30,130,220,.82);
}

/* موبایل */

@media (max-width: 600px) {

    #controls {
        bottom: 10px;
        padding: 0 10px;
    }

    .gameButton {
        width: 58px;
        height: 58px;
        font-size: 24px;
        border-radius: 18px;
    }

    #movementControls,
    #actionControls {
        gap: 6px;
    }
}
